<!doctype html>
<html ng-app>
<head>
    <meta charset="utf-8">
	<script type="text/javascript" src="angular/angular-1.0.0rc3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="underscore.js"></script>
    <script type="text/javascript" src="bookLibrary.js"></script>
    <script type="text/javascript" src="words.js"></script>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="words.css">    
</head>
<body>
    <p>Copyright 2016, Sara.AI &mdash; Patent Pending. 
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
            Click Me For An Instructional Video
        </button>
    </p>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Sara.AI Book Recommendation Webapp &mdash; "How To" Video</h4>
                </div>
                <div align="middle" class="modal-body">
                    <iframe align="middle" width="400" height="300" frameborder="0" allowfullscreen="" src="https://www.youtube.com/embed/lifo2YhC9NM"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            
        </div>
    </div>
    <div ng-controller="WordsCtrl">
        <div class="div-word">
            <h2>Total Words Recognized: {{getFamiliarWords()}}</h2>
            <p>After a sufficient number of encounters a word become recognizable without effort. This fluency is called <a href="https://www.google.com/#q=rapid+automatized+naming" target="_blank">rapid automatized naming</a>. The list below should closely reflect all the words which your child can fluently read. You may update it as desired.</p>
            <form class="form-horizontal">
                <input type="text" ng-model="formInputText" ng-model-instant placeholder="type 1 of more words">
                <button class="btn" ng-click="addWords()"><i class="glyphicon-plus"></i> Add</button>
            </form>
            <table class="table-striped table-hover">
                <tr><strong>Checked Words are Recognized</strong></tr>
                <tr ng-repeat="(word, value) in Words">
                    <td><label class="RAN-{{value.RAN}}">
                        <input type="checkbox" ng-model="value.RAN">
                        &emsp;{{word}}&emsp;
                        </label><td/>
                </tr>
            </table>
        </div>
        <div class="div-library">
            <h2>Book Recommendations</h2>
            <p>Reading books with a high ratio of fluently recognized words promotes comprehension and confidence, and results in more engaged reading. </p>
            <p>Recommendation Ratio, Words Familiar / Total Word Count
            <br/>
            <label>Upper Limit: {{recommendationUpperLimit}}%<br/>
                <input type="range" min="95" max="100" step="1" ng-model="recommendationUpperLimit" ng-model-instant></label>
            <br/>
            <label>Lower Limit: {{recommendationLowerLimit}}%<br/>
                <input type="range" min="25" max="95" step="5" ng-model="recommendationLowerLimit" ng-model-instant></label>
            </p>
            <button class="btn" ng-click="showRecommendations()">Update Recommendations</button> 
            <div style="padding-top: 25px">
                <table class="table-striped table-hover">
                    <tr ng-repeat="recommended in bookRecommendations">
                        <td>&emsp;<a href="{{recommended.book.link}}" target="_blank"><strong>{{recommended.book.title}}</strong></a>,&emsp;by {{recommended.book.author}}&emsp;</td>
                        <td>&emsp;{{recommended.score}}%&emsp;</td>
                        <td>&emsp;<button class="btn badge" ng-click="readOnce(recommended.book.words, recommended.book.title)"><i class="glyphicon-plus"></i></button></td>
                        <td>&emsp;<button class="btn badge" ng-click="readFluent(recommended.book.words, recommended.book.title)">Fluent</button></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="div-book">
            <h2>Add a Book to Library</h2>
            <p><em>add a book to see if it's recommended,<br/>or to add recognized words to the model</em></p>
            <p>We are adding books the the library regularly, but you can build your own library with this tool.</p>
            <h3>Adding <strong><big>{{addBookTitle}}</big></strong> by <strong><big>{{addBookAuthor}}</big></strong></h3>
            <form>
                <label><input type="text" ng-model="addBookTitle" ng-model-instant placeholder="The Jungle Book"> Title</label><br/>
                <label><input type="text" ng-model="addBookAuthor" ng-model-instant placeholder="Rudyard Kipling"> Author</label><br/>
                <label><input type="num" ng-model="addBookYear" placeholder="1894"> Year Published</label><br/>
                <label><input type="text" ng-model="addBookPublisher" placeholder="Macmillan Publishers"> Publisher</label><br/>
                <label><input type="radio" ng-model="addBookRead" value="Fluent"> My child can read this book fluently</label><br/>
                <label><input type="radio" ng-model="addBookRead" value="Read"> My child has read this book, but not fluently</label><br/>
                <label><input type="radio" ng-model="addBookRead" value="Unread"> My child has not read this book</label><br/>
                <label>
                    <textarea ng-model="addBookText" class="addBookText" 
                              placeholder="Type the text of the book here. Don't worry about punctuation or capitalization because only the word frequency is stored, not the formatting.">
                    </textarea>
                </label><br/>
                <button class="btn btn-addBook" ng-click="addBook()"><i class="glyphicon-plus"></i> Add</button>
            </form>
        </div>
        <button class="btn" ng-click="reset()">Reset Account</button>
    </div>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-83853641-1', 'auto');
        ga('require', 'linkid');
        ga('send', 'pageview');
        
    </script>
</body>
</html>
