.RAN-true{
    font-weight: bold;
    color: black;
}
.RAN-false{
    font-weight: normal;
    color: mediumvioletred;
}
.addBookText {
    width: 500px;
    height: 20em;
}
.btn-addBook {
    width: 500px;
}
.fluent-true {
    font-weight: bold;
    font-size: 14pt;
    color: forestgreen;
}
.fluent-false {
    text-decoration: line-through;
    font-weight: normal;
    font-size: 9pt;
    color: lightslategray;
}
.div-word {
    float: left;
    padding: 3%;
    max-width: 35%;
}
.div-book {
    padding: 3%;
    max-width: 97%;
}
.div-library {
    padding: 3%;
    max-width: 97%
}